#about {
    .container {
      width: 100%;
    }
    .card-about {
      width: 80%;
      position: relative;
      border: 2px solid rgba(0, 0, 0, 0.4);
      padding: 22px;
      padding-bottom: 64px;
      padding-top: 19px;
  
      h2 {
        font-weight: lighter;
        font-size: 29px;
        line-height: 38px;
        text-align: center;
        background-color: white;
        position: absolute;
        top: -5%;
        left: 35%;
        margin: auto;
      }
      img {
        width: 100%;
        border-radius: 1px;
        object-fit: cover;
      }
  
      .info-card {
        margin: 7px auto;
      }
    }
  
    a:hover {
      text-decoration: none;
    }
  
    .github {
      p {
        font-size: 17px;
        font-weight: bolder;
      }
    }
    #jess-github:hover {
      color: #0abab5;
    }
    #lade-github:hover {
      color: #FF474E;
    }
    #tang-github:hover {
      color: #FFC300;
    }
    #tann-github:hover {
      color: #A4D541;
    }
  }
  